version: "3.6"
services:
  db:
    image: mysql
    environment:
      MYSQL_DATABASE: test_db
      MYSQL_USER: sj
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_ROOT_HOST: '%'
    ports:
      - 3306:3306
    volumes:
      - "./db/test_db/:/var/lib/mysql"

  app:
    build: .
    ports:
      - 8080:8080
    depends_on:
      - db